* {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

h6 {
    font-size: 20px;
}

.black-section {
    background-color: #363a3e;
    color: white;
    padding: 40px 60px 0;
}

.white-section {
    background-color: #eef4f7;
    padding: 20px 60px 0;
    color: #363a3e;
}

.content section{
    flex: 1;
    position: relative;
}

body {
    height: 100vh;
}

.form {
    height: 130px;
    position: relative;
    top: -90px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    max-width: 905px;

}

.form-control {
    background-color: #eff0f0;
    height: 40px;
}

.form-group-1 {
    width: 200px;
    margin-right: 25px;
}

.back-link {
    text-align: left;
    margin-left: 0;
    margin-top: 60px;
}

.back-link a{
    color: white;
}

.border-10 {
    border-radius: 10px;
}

.btn {
    height: 40px;
    background-color: #ff4f54;
    color: white;
}

.result {
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.dice {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.dice-face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    color: white;
    background-color: #363a3e;
    display: flex;
    padding: 20px;
    border-radius: 50px;
}


.dice-face:nth-child(1)  { transform: rotateY(  0deg) translateZ(100px); }
.dice-face:nth-child(2)   { transform: rotateY(180deg) translateZ(100px); }
.dice-face:nth-child(3)  { transform: rotateY( 90deg) translateZ(100px); }
.dice-face:nth-child(4)   { transform: rotateY(-90deg) translateZ(100px); }
.dice-face:nth-child(5)    { transform: rotateX( 90deg) translateZ(100px); }
.dice-face:nth-child(6) { transform: rotateX(-90deg) translateZ(100px); }

.dice.show-one  { transform: translateZ(-100px) rotateY(   0deg); }
.dice.show-two   { transform: translateZ(-100px) rotateY(-180deg); }
.dice.show-three  { transform: translateZ(-100px) rotateY( -90deg); }
.dice.show-four   { transform: translateZ(-100px) rotateY(  90deg); }
.dice.show-five    { transform: translateZ(-100px) rotateX( -90deg); }
.dice.show-six { transform: translateZ(-100px) rotateX(  90deg); }


.circle {
    background-color: #FFF;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}


  

@media(max-width: 1024px) {
    .white-section {
        padding: 20px 30px 0;
    }
}

@media(max-width: 576px) {
    .result {
        margin-bottom: 30px;
    }

    .form {
        top: -15px;
    }
}